@media (max-width: 1200px) {
    .nav-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
}
@media (max-width: 992px) {
    .nav-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .header-img{
        width: 100%;
    }
    

    .nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
    }
    .nav-logo{
        margin-top: 0  0;
    }

    .nav-link{
        padding:  10px;
    }

    .main-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .main-box2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }


 

    .galery{
        display: flex;
        flex-wrap: wrap;
        margin: 0 25px;
        justify-content: center;
        
    }

    .box1, .box2, .box3, .box4{
        margin: 25px 0;
    }
    
}
@media (max-width: 768px) {
   
    .main-container{
        margin: 0 25px;
        border-radius: 15px;
    }

    .main-title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .footer-nav{
        padding: 15px 0;
    }
    
}

@media (max-width: 480px) {
    .header-img{
        max-width: 100%;
    }
    

}